<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wildlife Details</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
        #wildlife-details {
            width: 100vw;
            height: 100vh;
            background-color: #061227;
            color: white;
            display: flex;
            padding: 2em;
        }
        #image {
            padding: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 1em;
            width: 40%;
        }
        #image img {
            max-width: 100%;
            border-radius: 5px;
        }
        #info {
            padding: 2em;
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 60%;
        }
        .rating {
            background-color: lightgreen;
            color: black;
            padding: 1.5em 2em;
            border-radius: 1em;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
        h1 {
            font-size: 2em;
            margin-bottom: 1em;
        }
        p {
            font-size: 1em;
            line-height: 1.5;
        }
        .feature-list {
            list-style: none;
            padding-left: 0;
        }
        .feature-list li {
            margin-bottom: 0.5em;
        }
    </style>
</head>
<body>
    <div id="wildlife-details">
            <div class="rating">
                <h2 style="text-align: center; margin-bottom: 3px;"><strong>Details</strong></h2>
                <ul class="feature-list">
                    <li><strong>Common Name:</strong> <%= wildlife.name %></li>
                    <li><strong>Scientific Name:</strong> <%= wildlife.taxonomy.scientific_name %></li>
                    <li><strong>Locations:</strong> <%= wildlife.locations.join(', ') %></li>
                    <li><strong>Habitat:</strong> <%= wildlife.characteristics.habitat %></li>
                    <li><strong>Top Speed:</strong> <%= wildlife.characteristics.top_speed %></li>
                    <li><strong>Lifespan:</strong> <%= wildlife.characteristics.lifespan %></li>
                    <li><strong>Weight:</strong> <%= wildlife.characteristics.weight %></li>
                    <li><strong>Length:</strong> <%= wildlife.characteristics.length %></li>
                    <li><strong>Diet:</strong> <%= wildlife.characteristics.diet %></li>
                    <li><strong>Average Litter Size:</strong> <%= wildlife.characteristics.average_litter_size %></li>
                    <li><strong>Predators:</strong> <%= wildlife.characteristics.predators %></li>
                    <li><strong>Main Prey:</strong> <%= wildlife.characteristics.main_prey %></li>
                    <li><strong>Lifestyle:</strong> <%= wildlife.characteristics.lifestyle %></li>
                    <li><strong>Skin Type:</strong> <%= wildlife.characteristics.skin_type %></li>
                    <li><strong>Color:</strong> <%= wildlife.characteristics.color %></li>
                </ul>
            </div>
        <div id="info">
            <h1><%= wildlife.name %></h1>
            <p><strong>Common Name:</strong> <%= wildlife.name %></p>
            <p><strong>Scientific Name:</strong> <%= wildlife.taxonomy.scientific_name %></p>
            <p><strong>Locations:</strong> <%= wildlife.locations.join(', ') %></p>
            <p><strong>Habitat:</strong> <%= wildlife.characteristics.habitat %></p>
            <p><strong>Top Speed:</strong> <%= wildlife.characteristics.top_speed %></p>
            <p><strong>Lifespan:</strong> <%= wildlife.characteristics.lifespan %></p>
            <p><strong>Weight:</strong> <%= wildlife.characteristics.weight %></p>
            <p><strong>Length:</strong> <%= wildlife.characteristics.length %></p>
            <p><strong>Diet:</strong> <%= wildlife.characteristics.diet %></p>
            <p><strong>Average Litter Size:</strong> <%= wildlife.characteristics.average_litter_size %></p>
            <p><strong>Predators:</strong> <%= wildlife.characteristics.predators %></p>
            <p><strong>Main Prey:</strong> <%= wildlife.characteristics.main_prey %></p>
            <p><strong>Lifestyle:</strong> <%= wildlife.characteristics.lifestyle %></p>
            <p><strong>Skin Type:</strong> <%= wildlife.characteristics.skin_type %></p>
            <p><strong>Color:</strong> <%= wildlife.characteristics.color %></p>
        </div>
    </div>
</body>
</html>
